@model OpticSolutions.Repositories.Entitys.Appointment

@{

}

@using (Html.BeginForm("CreateAppointment", "Appointments", FormMethod.Post, null))
{
<div class="box box-primary">
    <div class="box-header">
        <h4>Appointment</h4>

    </div>
    <div class="box-body">
        <div>

            <hr />
            <dl class="dl-horizontal">
                <dt>
                  Doctor
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DoctorUsername)
                    <input type="hidden" name="DoctorUsername" value='@Model.DoctorUsername' />
                </dd>

                <dt>
                    Nombres
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Names)
                    <input type="hidden" name="Names" value=@Model.Names />
                </dd>

                <dt>
                    Apellidos
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Last_Names)
                    <input type="hidden" name="Last_Names" value=@Model.Last_Names />
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Email)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Email)
                    <input type="hidden" name="Email" value=@Model.Email />
                </dd>
                <dt>
                  Telefono
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Phone)
                    <input type="hidden" name="Phone" value=@Model.Phone />
                </dd>

                <dt>
                   Cedula
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.IdentificationCard)
                    <input type="hidden" name="IdentificationCard" value=@Model.IdentificationCard />
                </dd>

                <dt>
               Comentario
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Comment)
                    <input type="hidden" name="Comment" value=@Model.Comment />
                </dd>

                <dt>
                    Fecha y hora
                </dt>

                <dd>

                    @Html.DisplayFor(model => model.StartDate)
                    <input type="hidden" name="StartDate" value='@Model.StartDate' />
                </dd>

            </dl>

            <input type="submit" value="Confirmar Cita" class="btn btn-success" />

        </div>
    </div>
</div>

}
