@model OpticSolutions.ViewModels.CreateAppointmentViewModel


@{

}

<div class="box box-primary box-solid ">
    <div class="box-header">
        <h2>Registrar cita</h2>
       
    </div>
    <div class="box-body">
        <div class="col-md-6">

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">

                        <label for="Doctor_id" class="control-label col-md-2">Doctor</label>
                        <div class="col-md-10">
                            <select style="width:100%">
                                <option>Doctor  1</option>
                                <option>Doctor 2</option>
                                <option>Doctor  3</option>
                            </select>
                        </div>
                    </div>

                    @*<div class="form-group">
                            @Html.LabelFor(model => model.ClientId, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.ClientId, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.ClientId, "", new { @class = "text-danger" })
                            </div>
                        </div>*@

       
                    <div class="form-group">
                        <label for="Date" class="control-label col-md-2">Fecha</label>
                        <div class="col-md-10">
                      
                            <input type="date" >
                        </div>
                    </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Comprobar disponibilidad" class="btn btn-default" />
                            </div>
                        </div>


                    </div>
                    }
                </div>
    </div>
</div>

@if (Model != null)
{

    if (Model.Appointment.Date != null && Model.Appointment.DoctorUsername!=null)
    {
        <div class="box box-success">
            <div class="box-header">
                <h2>Disponibilidad del doctor</h2>

            </div>
            <div class="box-body">

                <div id="timeline" style="height: 180px;"></div>

                <div class="col-md-6">

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">

                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                @Html.LabelFor(model => model.Appointment.Phone, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Appointment.Phone, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Appointment.Phone, "", new { @class = "text-danger" })
                                </div>
                            </div>



                            <div class="form-group">
                                @Html.LabelFor(model => model.Appointment.Comment, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Appointment.Comment, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Appointment.Comment, "", new { @class = "text-danger" })
                                </div>
                            </div>



                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Siguiente" class="btn btn-default" />
                                </div>
                            </div>


                        </div>
                    }
                </div>
            </div>
        </div>


    }


}

<script src="~/Content/js/plugins/jquery/jquery-2.2.4.js"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
      google.charts.load('current', {'packages':['timeline']});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var container = document.getElementById('timeline');
        var chart = new google.visualization.Timeline(container);
        var dataTable = new google.visualization.DataTable();

        dataTable.addColumn({ type: 'string', id: 'President' });
        dataTable.addColumn({ type: 'date', id: 'Start' });
        dataTable.addColumn({ type: 'date', id: 'End' });
        dataTable.addRows([
          [ 'Washington', new Date(1789, 3, 30), new Date(1797, 2, 4) ],
          [ 'Adams',      new Date(1797, 2, 4),  new Date(1801, 2, 4) ],
          [ 'Jefferson',  new Date(1801, 2, 4),  new Date(1809, 2, 4) ]]);

        chart.draw(dataTable);
      }
</script>
