@model IEnumerable<OpticSolutions.Repositories.Entitys.Client>

@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_AdminLteLayout.cshtml";
}

<div class="panel panel-primary">
    <div class="panel-heading">
        <h2>Buscar clientes:</h2>
    </div>
    <div class="panel-body">

        <p>
            @Html.ActionLink("Create New", "Create")
        </p>

            
        @*<table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Names)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Last_Names)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Phone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IdentificationCard)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Address)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Names)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Last_Names)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Phone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdentificationCard)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id=item.ClientId }) |
                        @Html.ActionLink("Details", "Details", new { id=item.ClientId }) |
                        @Html.ActionLink("Delete", "Delete", new { id=item.ClientId })
                    </td>
                </tr>
}

        </table>*@


        </div>
    </div>

