@model OpticSolutions.Repositories.Entitys.Client

@{

}


<div class="panel panel-primary">
    <div class="panel-heading ">
        <h2>Registrar consulta</h2>
    </div>
    <div class="panel-body">
        <div class="col-md-6">
            @using (Html.BeginForm())
            {
                <h4>     @Model.Names @Model.Last_Names</h4>
     

                    
                <hr/>
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
               
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
               

                    <div class="form-group">
                        <div class="control-label col-md-2"><label for="Description">Descripcion de la consulta</label></div>
                        <div class="col-md-10">
                            <input class="form-control text-box" data-val="true" data-val-required="El campo descripcion es requerido" id="Description" name="Description" value="" type="text">
                            <span class="field-validation-valid text-danger" data-valmsg-for="Description" data-valmsg-replace="true"></span>
                        </div>
                    </div>

              <input type="hidden" value=@Model.ClientId name="Client.ClientId" />
                    <input type="hidden" value=@Model.Names name="Client.Names"/>
                    <input type="hidden" value=@Model.Last_Names name="Client.Last_names" />

                    @*<div class="form-group">
                        @Html.LabelFor(model => model.DoctorUserName, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.DoctorUserName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.DoctorUserName, "", new { @class = "text-danger" })
                        </div>
                    </div>


                    <div class="form-group">
                        @Html.LabelFor(model => model.ClientId, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.ClientId, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ClientId, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                        </div>
                    </div>*@

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Registrar Consulta" class="btn btn-success" />
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
          <div>
    @Html.ActionLink("Atras", "ConsultaCliente", "Clients", "", new { @class = "btn btn-danger" })
</div>