@model IEnumerable<OpticSolutions.Repositories.Entitys.Product>

@{
    ViewBag.Title = "Productos";
    Layout = "~/Views/Shared/_AdminLteLayout.cshtml";
}



<div class="panel panel-primary">
    <div class="panel-heading">
        <h2>Lista de productos</h2>

  
        @Html.ActionLink("Crear nuevo", "Create", "Products", new { @class = "btn btn-success"})


    </div>
    <div class="panel-body">
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProductType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ReqWork)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
        {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ReqWork)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { ProductId = item.ProductId }, new { @class = "btn btn-primary" }) |
                     
                        @Html.ActionLink("Delete", "Delete", new { ProductId = item.ProductId },new{ @class="btn btn-danger" } )
                    </td>
                </tr>
        }

        </table>
    </div>
</div>

