@model IEnumerable<OpticSolutions.Repositories.Entitys.Product>

@{
    ViewBag.Title = "Productos";

}



<link href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet" />

<div class="container">

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h2><i class="fa fa-list"></i> Lista de productos</h2>


            @Html.ActionLink("Crear Nuevo", "Create", "Products", new { @class = "btn btn-success" })


        </div>
        <div class="panel-body">
            <table id="products" class="table table-bordered table-hover">
                <thead>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProductType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    Requiere trabajo?
                </th>
                <th></th>
                </thead>

                @foreach (var item in Model)
                {
                    <tbody>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @if (item.ReqWork == 0)
                        {
                            <p>No</p>
                        }
                        else
                        {
                            <p>Si</p>
                        }
                    </td>
                    <td>
                        @Html.ActionLink("Editar", "Edit", new { ProductId = item.ProductId }, new { @class = "btn btn-primary" }) |

                        @Html.ActionLink("Borrar", "Delete", new { ProductId = item.ProductId }, new { @class = "btn btn-danger" })
                    </td>
                    </tbody>
                }

            </table>
        </div>
    </div>
    </div>

    <script src="~/Content/js/plugins/jquery/jquery-2.2.4.min.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {

            $('#products').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    'copy', 'csv', 'excel', 'pdf', 'print'
                ]
            });
        });
        
    </script>


